### 访问链表元素

In [7]:
# 访问列表最后一个元素
l = [1, 2, 3, 4, 5]
print(l[-1])

5

### 添加链表元素

#### 在链表尾部添加元素

In [8]:
l = []
l.append("apple")
l.append("orange")
l.append("lemon")
print(l)

['apple', 'orange', 'lemon']

#### 在链表任意位置添加元素，l.insert(i, val)表示在下标为i的元素前添加新元素val，添加之后该新元素的下标即为i

In [9]:
l = ['apple', 'orange', 'lemon']
l.insert(0, 'banana')
print(l)
l.insert(3, 'raspberry')
print(l)

['banana', 'apple', 'orange', 'lemon']
['banana', 'apple', 'orange', 'raspberry', 'lemon']

### 删除链表元素

#### 使用del删除，需要知道被删除元素的对应下标

In [10]:
l = ['apple', 'orange', 'lemon']
print(l)
del l[0]
print(l)

['apple', 'orange', 'lemon']
['orange', 'lemon']

#### 使用pop()删除，并使用被删除元素的值
> 特点：将列表看作<span class="mark">栈</span>，pop出来的是<span class="mark">尾部元素</span>

In [11]:
l = ['apple', 'orange', 'lemon']
poped_fruit = l.pop()
print(l)
print(poped_fruit)

['apple', 'orange']
lemon

#### 增强型pop，弹出任意位置的元素

In [13]:
l = ['apple', 'orange', 'lemon']
poped_fruit = l.pop(1)
print(l)
print(poped_fruit)

['apple', 'lemon']
orange

#### 根据值删除元素
> 特点：只删除列表中出现的第一个指定值

In [17]:
l = ['apple', 'orange', 'lemon']
print(l)
l.remove('orange')
print(l)

['apple', 'orange', 'lemon']
['apple', 'lemon']

### 列表排序

#### 永久排序sort

In [20]:
cars = ['bmw', 'audi', 'toyata', 'subaru']
print(cars)
cars.sort()
print(cars)

['bmw', 'audi', 'toyata', 'subaru']
['audi', 'bmw', 'subaru', 'toyata']

In [22]:
# 逆序
cars = ['bmw', 'audi', 'toyata', 'subaru']
print(cars)
cars.sort(reverse=True)
print(cars)

['bmw', 'audi', 'toyata', 'subaru']
['toyata', 'subaru', 'bmw', 'audi']

#### 临时排序sorted

In [19]:
cars = ['bmw', 'audi', 'toyata', 'subaru']
print(cars)
print(sorted(cars))

['bmw', 'audi', 'toyata', 'subaru']
['audi', 'bmw', 'subaru', 'toyata']

In [24]:
# 逆序
cars = ['bmw', 'audi', 'toyata', 'subaru']
print(cars)
print(sorted(cars, reverse=True))

['bmw', 'audi', 'toyata', 'subaru']
['toyata', 'subaru', 'bmw', 'audi']

#### 倒着打印列表

In [25]:
cars = ['bmw', 'audi', 'toyata', 'subaru']
# 永久性
cars.reverse()
print(cars)

['subaru', 'toyata', 'audi', 'bmw']

#### 列表长度获取

In [28]:
cars = ['bmw', 'audi', 'toyata', 'subaru']
print(len(cars))

4

### range 的使用  
- [x] 从第一个数开始，<span class="mark">到第二个数的时候停止循环</span>

In [30]:
for i in range(1, 5):
    print(i)

1
2
3
4

#### 使用range创建整型数字列表

In [32]:
# 整型连续
l1 = list(range(1, 5))
print(l1)

[1, 2, 3, 4]

In [35]:
# 整型间断连续
l2 = list(range(1, 11, 2))
print(l2)

[1, 3, 5, 7, 9]

### 简单的统计

In [37]:
l = [1, 5, 23, 1, 123, 42, 33]
print(sum(l))
print(min(l))
print(max(l))

228
1
123

### 列表解析法创建列表

In [39]:
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 使用列表的一部分

#### 列表切片

In [44]:
l = ['apple', 'orange', 'banana', 'strawberry']

print("These are equal:")
print(l[0:3])
print(l[:3], end='\n\n')

print("These are equal:")
print(l[2:len(l)])
print(l[2:])

These are equal:
['apple', 'orange', 'banana']
['apple', 'orange', 'banana']

These are equal:
['banana', 'strawberry']
['banana', 'strawberry']

In [45]:
# 打印最后几个数，不管列表长度是否发生变化
l = [
    'apple', 'orange', 'banana', 'strawberry', 'raspberry', 'pear', 'pineapple'
]

print("打印最后三个元素:", end=" ")
print(l[-3:])

打印最后三个元素: ['raspberry', 'pear', 'pineapple']

<font color="red"><span class="mark">可在切片的方括号里指定第三个值，告诉python在指定范围内每隔多少元素提取一个</span></font>

### 列表复制

In [47]:
# 全复制(完整的切片)

my_l = ['a', 'b', 'c']
your_l = my_l[:]
your_l.append('d')

print(my_l)
print(your_l)

['a', 'b', 'c']
['a', 'b', 'c', 'd']

In [48]:
# 这样做会让两个标识符指向同一个链表
my_l = ['a', 'b', 'c']
your_l = my_l
your_l.append('d')

print(my_l)
print(your_l)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

## 元组

特点：
+ 不能改变大小和其中的值
+ 但可以通过给指向元组的变量赋值实现一些目的
+ <span class="mark">严格地说，元组是由**逗号**标识的，比如定义一个只含一个元素的元组时，要这样定义`my_t = (3,)`</span>